@import 'colors'; /* Imported by Analysis, should be deleted HASAP */

html, body {
  height: 100%;

}

$host-menu-height : 70px;

body{
  padding-top: $host-menu-height;
}



#overlay {

}

.fx-analysis-page-title{
  font-weight: 100;
  color: $fenix-gray-text;
}
.fx-analysis-page-description{
  color: $fenix-gray-text;
}



/*================= Packry =================*/
.fx-analysis-item {
  width: 50%;
}

.fx-analysis-item.fit {
  width: 100%;
}

/*================= Overlay =================*/

/* Please review */

#overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: $white-alpha;

  padding-top: $host-menu-height;
  z-index: 500;
  overflow-y: scroll;

  .overlay-content{
    height: 100%;
   #catalogContainer{
     height: 100%
   }
  }

}

.closeOverlay {
  position: absolute;
  right: 0;
}
